.md-border-box,
.md-border-box *,
.md-border-box:after,
.md-border-box:before,
.md-border-box *:after,
.md-border-box *:before{
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.md-scroll::-webkit-scrollbar-thumb{
  background-color: #acacac;
  background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent);
}
.md-scroll::-webkit-scrollbar{
  width:5px;
  height: 8px;
  background:#e4e4e4;
}

.md-clear:after,.md-clear:before{
  display:block;
  content:"";
  height:0;
  visibility:hidden;
  clear:both;
}

.md-editor .md-input{
  width:100%;
}
.md-editor .md-inner{
  width:0%;
  border-left:0 none;
  overflow:hidden;
}

.md-editor.md-split .md-input{
  width:50%;
}
.md-editor.md-split .md-inner{
  width:50%;
  border-left:1px solid #ccc;
  overflow:auto;
}

.md-editor.md-preview .md-input{
  width:0;
}
.md-editor.md-preview .md-inner{
  width:100%;
  border-left:0 none;
  overflow:auto;
}

.marked-body .marked-scroll::-webkit-scrollbar-thumb{
  background-color: #acacac;
  background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent);
}
.marked-body .marked-scroll::-webkit-scrollbar{
  width:4px;
  height:4px;
  background:#e4e4e4;
}
.marked-body{
  line-height:1.5;
  color:#24292e;
}
.marked-body .marked-code{
  border-left:.25em solid rgba(0, 128, 128, 0.65);
  border-radius:3px;
  background-color:#f6f8fa;
  position:relative;
}
.marked-body .marked-html{
  margin-bottom:16px;
}
.marked-body.markdown-body .highlight pre,
.marked-body.markdown-body pre{
  line-height:1.65;
}
.marked-body.markdown-body code,
.marked-body.markdown-body pre{
  font-family:play,SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}
.marked-body.markdown-body table{
  display:table;
  width:100%;
}
.marked-body.markdown-body hr{
  height:2px;
}
.marked-body.markdown-body ol ol,
.marked-body.markdown-body ul ol{
  list-style-type:decimal;
}
.marked-body.markdown-body h1,
.marked-body.markdown-body h2,
.marked-body.markdown-body h3,
.marked-body.markdown-body h4,
.marked-body.markdown-body h5,
.marked-body.markdown-body h6{
  margin-top:0;
}
.marked-body.markdown-body table th,
.marked-body.markdown-body table td{
  text-align:center;
}
.marked-body.markdown-body table th[align='center'],
.marked-body.markdown-body table td[align='center']{
  text-align:center;
}
.marked-body.markdown-body table th[align='right'],
.marked-body.markdown-body table td[align='right']{
  text-align:right;
}
.marked-body.markdown-body table th[align='left'],
.marked-body.markdown-body table td[align='left']{
  text-align:left;
}

.marked-body.markdown-body img{
  display:block;
  max-width:100%;
  margin:0 auto;
}

.marked-body .marked-src{
  display:block;
  max-width: 100%;
  margin: .5rem auto;
  text-align: center;
  border-radius: 2px;
  transition: all .25s;
}
.marked-body .marked-caption{
  display:flex;
  align-items:center;
  justify-content:center;
}
.marked-body .marked-caption-text{
  min-height: 22px;
  padding: 6px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color:#a6a6a6;
}
.marked-body iframe{
  display:block;
  margin:0 auto;
  max-width:100%;
  margin-bottom: 16px;
  background: #24292e;
}
.marked-body iframe.bilibili{
  width:100%!important;
  height:450px!important;
  border:1px solid #eee;
}
.marked-body iframe.net-ease{
  width:100%!important;
  height:86px!important;
}
.marked-body:last-child{
  margin-bottom:0!important;
}
.marked-body.markdown-body a:hover{
  text-decoration: none;
}
